.container{
height: 806px;
border-width: 1px;
background: linear-gradient(180deg, rgba(215, 199, 244, 0.2) 0%, rgba(151, 133, 186, 0.2) 100%);
margin: 0px;
display: flex;
}

.leftContainer{
    width: 208px;
height: 806px;
background-color: #FFFFFF;
}
.edit{
    cursor: pointer;
}

.topBar{
    display: none;
}

.toggleButton{
    cursor: pointer;
}

.leftInnerContainer{
    width: 208px;
height: 97px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
.newChat{
    width: 208px;
height: 47px;
background-color: #D7C7F4;
display: flex;
align-items: center;
justify-content: space-evenly;

font-family: Ubuntu;
font-weight: 400;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
color: #000000;
}
.pastConversations{
    width: 175.15789794921875px;
height: 39px;
border-radius: 10px;
background-color: #D7C7F4;

font-family: Ubuntu;
font-weight: 700;
font-size: 17px;
line-height: 100%;
letter-spacing: 0%;

color: #414146;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
}
.rightContainer{
    position: relative;
}
.mainHeading{
    font-family: Ubuntu;
font-weight: 700;
font-size: 28px;
line-height: 100%;
letter-spacing: 0%;
color: #9785BA;
margin-left: 20px;
cursor: pointer;
}

.header{
width: 348px;
height: 32px;
font-family: Ubuntu;
font-weight: 500;
font-size: 28px;
line-height: 100%;
letter-spacing: 0%;
color: #000000;
}
.logo{
    width: 65.29553985595703px;
    height: 69px;
}

.headerLogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;
    left: 390px;
}

.card{
    width: 520px;
height: 111px;
border-radius: 5px;
background-color: #FFFFFF;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding-left: 20px;
cursor: pointer;
}
.cardGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 15px;
    position: absolute;
    top: 430px;
    left: 20px;
}

.chatCard{
    height: 650px;
    overflow-y: auto;
    padding-bottom: 20px;
}
.chatCard::-webkit-scrollbar {
  display: none;
}

.cardQuestion{
    font-family: Ubuntu;
font-weight: 700;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
color: #000000;
margin: 0px 0px 15px 0px;
}
.cardPara{
    font-family: Open Sans;
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color: #00000080;
margin: 0px;
}


.inputContainer{
    width: 1130px;
height: 41px;
border-radius: 5px;
border-width: 1px;
position: absolute;
top: 735px;
left: 5px;
display: flex;
justify-content: space-evenly;
align-items: center;
}
.input{
    width: 900px;
height: 41px;
border-radius: 5px;
border-width: 1px;
border: 1px solid #00000073;
background-color: #FFFFFF;
}
.input:focus{
    outline: none;
}
.askButton{
width: 73.82015991210938px;
height: 41px;
border: none;
border-radius: 5px;
background-color: #D7C7F4;
font-family: Ubuntu;
font-weight: 400;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
cursor: pointer;
}
.saveButton{
width: 73.82015991210938px;
height: 41px;
border: none;
border-radius: 5px;
background-color: #D7C7F4;

font-family: Ubuntu;
font-weight: 400;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
cursor: pointer;
}


@media (max-width: 768px) {
    .mainHeading{
        margin: 13px 0px 0px 40px;
    }
    .container{
        width: 100%;
        height: auto;
        padding: 0px;
        margin-right: 0px;
    }
  .newChatLogo{
    height: 30px;
    width: 30px;
  }
  .leftInnerContainer{
    font-size: 17px;
    margin-top: 50px;
    margin-left: 100px;
  }
  .topBar {
    display: flex;
    height: 60px;
    align-items: center;
    padding: 0 10px;
  }

  .toggleButton {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1;
  }

  .leftContainer {
    position: absolute;
    top: 60px;
    left: 0;
    width: 180px; 
    height: 150px;
    z-index: 1;
    background: transparent;
  }

  .rightContainer {
    height: auto;
    width: 100%;
    padding-bottom: 90px;
    margin-left: -40px;
  }

  .headerLogo {
    position: static;
    margin: 200px auto 0px auto;
    width: 70%;
    text-align: center;
    padding: 0px;
  }
  .header {
    font-size: 25px;
    font-weight: 700;
  }
  .logo {
    width: 100px;
    height: 100px;
    margin-top: 10px;
  }

  .cardGrid {
    position: static;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
    padding: 10;
    width: 160px;
  }
  .card {
width: 355.16314697265625px;
height: 111px;
border-radius: 5px;


  }

  .inputContainer {
    position: absolute;
    top: 60em;
    left: 0;
    width: 95%;
    padding: 0 10px;
    display: flex;
    gap: 8px;
  }
  .input {
    width: 240px;
    height: 40px;
  }
  .askButton, .saveButton {
    width: 50px;
    height: 40px;
    font-size: 16px;
  }
}
